# --- Project Secrets & Configurations ---
vars.yaml
vars*
workers_inventory.ini
certs/
kube_configration/secrets/
.uuid
dlp.py
dlp-secret-auth

# --- ESP01 Firmware / Hardware ---
secrets.h
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.bin
*.hex

# --- Environments & IDEs ---
.idea/
.vscode/
*venv*/
venv/
.venv/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# --- Temporary / Miscellaneous ---
depricated/
.docs/
notes*
*.swp
*.swo
.DS_Store