[Unit]
Description=Minikube Kubernetes
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/minikube start --driver docker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
